.sidebar__left {
    display: flex;
    margin-left: 20px;
    align-items: center;
    padding: 10px;
    max-width: 200px;
}

.sidebar__left:hover {
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 10px;
}

.sidebar__left--active {
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 10px;
}

.sidebar__left>h4 {
    font-size: 15px;
    font-weight: 400;
    margin-left: 25px;
    overflow: hidden;
    white-space: nowrap;
    width: 125px;
    text-overflow: ellipsis;
}

.sidebar__avatar {
    height: 25px !important;
    width: 25px !important;
}